* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body {
    background-color: rgb(255, 229, 229);
}

.container {
    width: 50%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    
}

ul > li:hover {
    color: red;
    
}
li {
    font-size: 20px;
}

button {
    padding: 13px;
    border:none;
    margin-left: 10px;

}

button:hover {
    background-color: rgb(255, 200, 122);

}

input {
    padding: 10px;
}