.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

input {
  border: none;
  background-color: rgb(241, 236, 236);
  padding: 10px;
  border-radius:5px;
  outline: none;
  
}